.navbar {
        width:100%;
        margin: 4px;
        padding: 5px;
        background-color:pink;
        overflow:hidden;
        }
.navbar a {
    float:right;
    display:block;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px;
    color:white;
    font-size:1.5rem;
    }
    .active {
  background-color: blue;   
  }
.navbar a:hover{
  background-color:red;
  color:yellow;
}
.navbar .icon{
  display:none; /*mostrar u ocultar elementos para js*/
}
